services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: what_app_backend
    environment:
      - DEBUG=0
      - ALLOWED_HOSTS=*
      - DATABASE_URL=${DATABASE_URL:-sqlite:///db.sqlite3}
    volumes:
      - static_volume:/app/staticfiles
    expose:
      - 8000

  frontend:
    build: ./frontend
    container_name: what_app_frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    volumes:
      - static_volume:/app/static
    depends_on:
      - backend

volumes:
  static_volume: 